.page__box {
	text-align: center;
}
.page__body {
	font-size: 1.2rem;
	line-height: 1.1;
	margin-top: 20px;
}
.page__box-time {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	gap: 40px;
	font-size: 0.9rem;
}
