.todo__close-btn {
	top: 7px;
	position: absolute;
	right: 2px;
	border: none;
	background: transparent;
}
.todo__close-btn svg {
	font-size: 1.2rem;
	color: #00000070;
	transition: 0.3s;
}
@keyframes tada {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	10%,
	20% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
		transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
.todo__close-btn:hover svg,
.todo__close-btn:focus svg {
	color: rgb(240, 30, 30);
	animation: tada 1s;
}
