.todo__box {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: calc((100% - 60px) / 3);
	align-items: center;
}
.todo__task {
	width: 390px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px black;
	margin-bottom: 12px;
	cursor: pointer;
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.todo__task.new {
	background-color: #0083ff2e;
}
.todo__task.process {
	background-color: #04fd042e;
}
.todo__task.finished {
	opacity: 0.4;
	background-color: #0000002e;
}
.todo__task.finished .todo__title,
.todo__task.finished .todo__body {
	text-decoration: line-through;
}
.todo__title {
	margin: 0;
	padding: 9px 10px;
	border-bottom: 1px solid #00000012;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
}
.todo__body {
	margin: 0;
	padding: 0 10px;
	border-bottom: 1px solid #00000012;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: italic;
	min-height: 100px;
}
.todo__info {
	padding: 10px 10px;
	font-size: 0.8rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	align-items: center;
	min-height: 40px;
}
.todo__time {
	font-size: 0.7rem;
}
.todo__time p {
	margin: 0;
	text-transform: capitalize;
}
.todo__time p:nth-of-type(n + 2) {
	padding-top: 2px;
}
